body {
  background-color: #e5e5e5;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
}

.main-content {
  padding: 88px;
  width: 100%;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin: 19px 0 29px 0;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

/* about me */
.my-prof {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 48px 0 8px 0;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 12px 0 0 0;
}

h4 span {
  color: #6d9bf5;
}

.content-dates {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 11px 0 8px 0;
  padding: 0px;
}

.main-content ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.main-content ul {
  padding: 0 0 0 16px;
  margin: 0;
}

.projects ol li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects ol {
  padding: 0 0 0 16px;
  margin: 0;
}

.projects ol span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.projects ol li a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}
.projects {
  width: 525px;
  margin: 64px 0 0 0;
}

.study-field {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
  margin: 12px 0;
}

/* sidebar */

aside {
  background-color: #e0ebfe;
  width: 370px;
  padding-top: 40px;
}

.aside-block {
  margin: 48px 0 0 40px;
}

aside ul {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  color: #6d9bf5;
  padding-left: 15px;
}

aside ul li span {
  color: #161d2a;
}

aside h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 8px;
  color: #161d2a;
}

.contact-detail {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contact-item {
  margin: 0px;
}

.sidebar-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

.sidebar-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
